/* NAVBAR INFO  */
.navbar.navbar-8 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger4.svg?color=1729B0');
  }

/* ======================================== */

/* NAVBAR */
/* enable absolute positioning */
.inner-addon {
    position: relative;
}
  
/* style glyph */
.inner-addon .custom-fa {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align glyph */
.left-addon .custom-fa  { left:  0px;}
.right-addon .custom-fa { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

/* ========================================= */

.custom-logo-navbar {
    width: 100px;
    height: 34px;
    background-color: #4B1979;
}

.custom-bg-auth {
    background-image: url('./images/register.png');
    padding: 0;
}

.custom-bg-photo-profile {
    background-color: #E2D4F0;
    width: 96px;
    height: 96px;
    border-radius: 12px;
}

.custom-bg-photo-product {
    width: 96px;
    height: 96px;
    border-radius: 12px;
    color: #D0D0D0;
    border-style: dashed ;
}

.custom-bg-notif {
    background-color: #EEEEEE;
}

.custom-space-harga-tawar {
    width: 20%;
    height: 43%;
}

.custom-space {
    height: 100vh;
    width: 100%;
    margin: 0 0 0 0px;
}

.custom-space-2 {
    height: 100vh;
}

.custom-border-auth {
    border-radius: 16px;
}

.custom-button-auth {
    background-color: #7126B5;
}

.custom-font-auth {
    color: #7126B5;
}

.custom-font-1 {
    font-size: 14px;
}

.custom-font-2 {
    font-size: 12px;
}

.custom-font-3 {
    font-size: 25px;
}

.custom-font-4 {
    font-size: 35px;
    color: #7126B5;
}

.custom-font-5 {
    font-size: 10px;
}

.custom-font-6 {
    font-size: 20px;
}
