.custom-bg-auth {
    background-image: url('./images/register.png');
    padding: 0;
}

.custom-space {
    height: 100vh;
    width: 100%;
    margin: 0 0 0 0px;
}

.custom-space-2 {
    height: 100vh;
}

.custom-border-auth {
    border-radius: 15px;
}

.custom-button-auth {
    background-color: #7126B5;
}

.custom-font-auth {
    color: #7126B5;
}

.custom-font-1 {
    font-size: 14px;
}

.custom-font-2 {
    font-size: 12px;
}
